<h1>ユーザー専用トップページ</h1>

<%= link_to "勤怠新規入力", new_attendance_path %><br />

<%= link_to "パスワード変更", edit_user_registration_path %><br />

<%= link_to "ログアウト", destroy_user_session_path, method: :delete %><br />

<hr>

<p id="RealtimeClockArea2"><%= javascript_include_tag "time_now.js" %></p>

<hr>

<% if current_user.can_start? %>
  <!-- 勤怠開始 -->
  <p>本日の勤怠入力</p>
  <p>勤怠を開始してください</p>
  <%= button_to "勤怠を開始する", attendance_start_attendance_path, method: :post %>
<% elsif current_user.can_end? %>
  <!-- 勤怠終了 -->
  <p>勤怠開始時間：<%= current_user.latest_attendance.start_at %></p>
  <%= button_to "勤怠を終了する", attendance_end_attendance_path(current_user.id), method: :patch %>
<% elsif current_user.can_request? %>
  <!-- 申請してください -->
  <p>申請されてない勤怠データがあります。申請をしてください。</p>
  <p>勤怠開始時間：<%= current_user.latest_attendance.start_at %></p>
  <p>勤怠終了時間：<%= current_user.latest_attendance.end_at %></p>
  <%= button_to "申請", attendance_request_status_change_path(current_user.id), method: :patch %>
<% else %>
  <!-- やることなし -->
  <p>本日もお疲れ様でした。</p>
<% end %>
