<h1>勤怠個別ページ</h1>

<table class="show-table">
  <tr>
    <td>勤怠ID：</td><td><%= @attendance.id %></td>
  </tr>
  <tr>
    <td>ユーザーID：</td><td><%= @attendance.user_id %></td>
  </tr>
  <tr>
    <td>名前：</td><td><%= @attendance.user.name %></td>
  </tr>
  <tr>
    <td>開始時間：</td><td><%= @attendance.start_at %></td>
  </tr>
  <tr>
    <td>終了時間：</td><td><%= @attendance.end_at %></td>
  </tr>
  <tr>
    <td>申請状況：</td><td><%= @attendance.request ? '申請済' : '未申請' %></td>
  </tr>
  <tr>
    <td>承認状況：</td><td><%= @attendance.approval_i18n %></td>
  </tr>
  <tr>
    <td>編集状況：</td><td><%= @attendance.edit ? '編集済' : '未編集' %></td>
  </tr>
</table>

<br>

<%= link_to "編集", edit_attendance_path(@attendance.id) %>

<br>

<br>

<%= link_to "勤怠一覧へ戻る", attendances_path %>
