<h1>勤怠個別ページ</h1>

<table class="show-table">
  <tr>
    <td>勤怠ID：</td><td><%= @attendance.id %></td>
  </tr>
  <tr>
    <td>ユーザーID：</td><td><%= @attendance.user_id %></td>
  </tr>
  <tr>
    <td>名前：</td><td><%= @attendance.user.name %></td>
  </tr>
  <tr>
    <td>開始時間：</td><td><%= @attendance.start_at %></td>
  </tr>
  <tr>
    <td>終了時間：</td><td><%= @attendance.end_at %></td>
  </tr>
  <tr>
    <td>申請状況：</td><td><%= @attendance.request_i18n %></td>
  </tr>
  <tr>
    <td>承認状況：</td><td><%= @attendance.approval_i18n %></td>
  </tr>
  <tr>
    <td>編集状況：</td><td><%= @attendance.edit_i18n %></td>
  </tr>
</table>

<br>

<%= link_to "編集", edit_attendance_path(@attendance.id) %>
<% if admin_signed_in? %>
  <%= link_to "削除", "#{@attendance.id}", method: :delete, data: { confirm: "削除してよろしいですか？" } %>
<% end %>

<br>

<% if admin_signed_in? %>
  <%= link_to "ユーザー勤怠一覧へ戻る", attendances_path %><br />
<% else user_signed_in? %>
  <%= link_to "個人勤怠一覧へ戻る", attendance_user_index_path %><br />
<% end %>
