<h1>個人勤怠一覧</h1>

<div class="search"> 

<p>絞込検索</p>
  <%= form_tag '', method: :get do %>
    <%= label_tag :date_select,"日付：" %>
    <%= select_date @start_at, prefix: 'start_at' %>
     - 
    <%= select_date @end_at, prefix: 'end_at' %>
    <br>
    <%= submit_tag "検索" %>
  <% end %>
</div>

<br>

<%#= paginate @attendances %>

<table width="100%">

  <tr>
    <th>ユーザーID</th>
    <th>名前</th>
    <th>開始時間</th>
    <th>終了時間</th>
    <th>承認状況</th>
    <th>編集状況</th>
    <th colspan="1"></th>
    <th colspan="1"></th>
  </tr>

  <% @attendances.each do |attendance| %>
    <tr <%= 'class=red' if attendance.end_at.nil? %> >
      <td width="10%"><%= attendance.user_id %></td>
      <td width="15%"><%= attendance.user.name %></td>
      <td width="20%"><%= attendance.start_at %></td>
      <td width="20%"><%= attendance.end_at %></td>
      <td width="10%"><%= attendance.approval_i18n %></td>
      <td width="10%"><%= attendance.edit_i18n %></td>
      <td width="5%"><%= link_to "詳細", attendance_path(attendance.id) %></td>
      <td width="5%"><%= link_to "編集", edit_attendance_path(attendance.id) %></td>
    </tr>
  <% end %>

</table>

<%#= paginate @attendances %>